.do-dem{
    border-color: brown;
    width :fit-content;
    max-width: 100%;
    margin-top: 5px;
    float:left;
    font-size:30pt;
}
.tabs{
  display: none;
  float:left;
}
.tb1{
    background-color: chartreuse;
    border-color: brown;
    margin-left: 10px;
    font-size:30pt;
}
.tb2{
    margin-left: 20px;
    background-color:green;
    float: left;
    width: fit-content;
}
.tb3{
    margin-left: 20px;
    background-color: yellow;
    float: left;
    border-color: brown;
}

.sub{
    text-align: center;
    background-color: orange;
    font-size:40pt;
}
.f_size_input{
    font-size:2em;
    width: 20%;

}
.f_size_lb{
    font-size:40pt;
    width: fit-content;
}

.f_size_chiphi{
    font-size: 2em;
    font-weight: bold;
    margin-right: 10px;
    /* width: 50%; */
}

.f_size_phantich{
    font-size:42pt;
    padding-left:5px;
    width:10%;
    float: left;
}

.f_size_phantich_lb{
    font-size:42pt;
    padding-left:5px;
    width:25%;
    float: left;
}

.f_size_phantich_res{
    font-size:42pt;
    width:fit-content;
    background-color:cyan;
}
.f_size_caphat{
    font-size:50pt;
    padding-left:5px;
    width:26%;
    float: left;
}
.f_size_caphat_lb{
    font-size:50pt;
    padding-left:5px;
    width:25%;
    float: left;
}

.f_size_pha{
    letter-spacing: 4px;
    height:40px ;
    width: 40px ;
}
.f_size_tronmau{
    font-size:2em;
    font-weight: bold;
    width: 90%;
}

.f_size_tronmau_lb {
    font-size:2em;
    font-weight: bold;
    width: 60%;
}

.lb{
    font-weight: bold;
    width: 20vw;
}
.button{
    font-weight: bold;
    width: fit-content;
}
.head{
    max-height: 150px;
    display: flex;
    overflow-x: auto;
}

.head::-webkit-scrollbar{
    width: 0;
}
.head .item{
    min-width: 100px;
    height: 100;
    padding: 10px;
    text-align: center;
    background-color: aqua;
}
.hc_head{
    text-align: center;
    background-color: aqua;
    border-width: 2px;
    border-color: brown;
}
td{
    padding-top: 5px;
    border-style: groove; 
    border-width: 2px; 
    border-color: brown;
}
